<div class="container mb-3">
  <h1>Productos</h1>
  <div>Nombre - id</div>
  <ol>
    {{#each data.payload}}
    <li>{{this.title}} - {{this.id}}</li>
    {{/each}}
  </ol>
  <hr>
  <br>
  {{>menu}}
</div>