<div class="container">
    <ul>
        <li class="mb-3">
            <a href="/" class="btn-primary bg-info border border-black text-decoration-none text-dark p-1 rounded-pill">Home Page</a>
        </li>
        <li class="mb-3">
            <a href="/realTimeProducts" class="btn-primary bg-info border border-black text-decoration-none text-dark p-1 rounded-pill">Productos actuales</a>
        </li>
        <li class="mb-3">
            <a href="/registro" class="btn-primary bg-info border border-black text-decoration-none text-dark p-1 rounded-pill">Registrarse</a>
        </li>
        <li class="mb-3">
            <a href="login" class="btn-primary bg-success border border-black text-decoration-none text-dark p-1 rounded-pill">Login</a>
        </li>
        <li class="mb-3">
            <a href="/api/sessions/logout"
                class="btn-primary bg-danger border border-black text-decoration-none text-dark p-1 rounded-pill">Logout</a>
        </li>
        <li class="mb-3">
            <a href="/perfil" class="btn-primary bg-info border border-black text-decoration-none text-dark p-1 rounded-pill">Perfil</a>
        </li>
        <li class="mb-3">
            <a href="/chat" class="btn-primary bg-info border border-black text-decoration-none text-dark p-1 rounded-pill">Chat</a>
        </li>
    </ul>
</div>